<h1><center>Cloud Computing  et informatique distribuée</center></h1>

<h2>
<hr style=" border:none; height:3px;">
<center>Exercises: Introduction to Dataframes</center>
<hr style=" border:none; height:3px;">
</h2>

# Dataframes

In this little set of exercises you'll learn basic of dataframes, in Pandas and Spark.

The assignment is presented in  this __Jupyter Notebook__, an interface that offers support for text, code, images and other media. Essentially, a Jupyter Notebook consists of multiple _cells_, either containing some text, like the one that you are reading, or code that you can execute.

# Pandas Dataframes

In [35]:
import pandas as pd
import numpy as np
df = pd.read_csv('./data/movies_metadata.csv',header=0)

As first step we can explore the columns of the dataframe and looking at the schema:

In [36]:
print("Columns of the DataFrame:")
print(df.columns)

Columns of the DataFrame:
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

And we can explore data composition: the data types and the number of elements.

In [37]:
result = df.info()
print("Details of the DataFrame:")
print(result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  50 non-null     bool
 1   belongs_to_collection  10 non-null     object
 2   budget                 50 non-null     int64
 3   genres                 50 non-null     object
 4   homepage               5 non-null      object
 5   id                     50 non-null     int64
 6   imdb_id                50 non-null     object
 7   original_language      50 non-null     object
 8   original_title         50 non-null     object
 9   overview               49 non-null     object
 10  popularity             50 non-null     float64
 11  poster_path            50 non-null     object
 12  production_companies   50 non-null     object
 13  production_countries   50 non-null     object
 14  release_date           50 non-null     object
 15  revenue                50 non-null     int64
 16  runtime                50 non-null     float64
 17  spoken_languages       50 non-null     object
 18  status                 50 non-null     object
 19  tagline                41 non-null     object
 20  title                  50 non-null     object
 21  video                  50 non-null     bool
 22  vote_average           50 non-null     float64
 23  vote_count             50 non-null     int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 8.8+ KB
Details of the DataFrame:
None

AS you can see we do not have many url in the dataset: just 5 are specified.

We can also look at the content of the first set of columns:

In [38]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

We can also explore data selecting a specific line by its position in the dataframe, for example the 9th one. Pay attention: the indexes of the rows and of the columns start from 0. This number is an index, that is in Pandas a label associated with each row.

This operation is possible because we can access data using the value of the label.  By default, an index is created on the data creation step and associate an index value to the relative position of each row.

If you look at data before you can see that there is a number (the index) near each row.

In [39]:
movieByPosition = df.iloc[8]
print("Details of the 9th moviee:")
print(movieByPosition)

Details of the 9th moviee:
adult                                                                False
belongs_to_collection                                                  NaN
budget                                                            35000000
genres                   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
homepage                                                               NaN
id                                                                    9091
imdb_id                                                          tt0114576
original_language                                                       en
original_title                                                Sudden Death
overview                 International action superstar Jean Claude Van...
popularity                                                         5.23158
poster_path                               /eoWvKD60lT95Ss1MYNgVExpo5iU.jpg
production_companies     [{'name': 'Universal Pictures', 'id': 33}, {'n...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                           64350171
runtime                                                              106.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                         Terror goes into overtime.
title                                                         Sudden Death
video                                                                False
vote_average                                                           5.5
vote_count                                                             174
Name: 8, dtype: object

It is possible also to create new dataframes containing just a subsect of the columns (projection operation in relational databases).

Here we select the columns <code> title </code> and <code>genre</code>

In [40]:
result = df[['title', 'genres']]
print("Details of title and genres:")
print(result)

Details of title and genres:
                             title  \
0                        Toy Story
1                          Jumanji
2                 Grumpier Old Men
3                Waiting to Exhale
4      Father of the Bride Part II
5                             Heat
6                          Sabrina
7                     Tom and Huck
8                     Sudden Death
9                        GoldenEye
10          The American President
11     Dracula: Dead and Loving It
12                           Balto
13                           Nixon
14                Cutthroat Island
15                          Casino
16           Sense and Sensibility
17                      Four Rooms
18  Ace Ventura: When Nature Calls
19                     Money Train
20                      Get Shorty
21                         Copycat
22                       Assassins
23                          Powder
24               Leaving Las Vegas
25                         Othello
26                    Now and Then
27                      Persuasion
28       The City of Lost Children
29                  Shanghai Triad
30                 Dangerous Minds
31                  Twelve Monkeys
32                Wings of Courage
33                            Babe
34                      Carrington
35                Dead Man Walking
36          Across the Sea of Time
37                    It Takes Two
38                        Clueless
39        Cry, the Beloved Country
40                     Richard III
41                 Dead Presidents
42                     Restoration
43                   Mortal Kombat
44                      To Die For
45   How To Make An American Quilt
46                           Se7en
47                      Pocahontas
48           When Night Is Falling
49              The Usual Suspects

                                               genres
0   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                      [{'id': 35, 'name': 'Comedy'}]
5   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                      [{'id': 18, 'name': 'Drama'}]
26  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
30  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
31  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
32  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
33  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
34  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
35                      [{'id': 18, 'name': 'Drama'}]
36  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
37  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
38  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
39                      [{'id': 18, 'name': 'Drama'}]
40  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
41  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
42  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
43  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
44  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
45  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
46  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
47  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
48  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
49  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

You can ask for data using a value of a column as a research key. 

For executing this operation you can create an index on the column and  access data by the research key.

Coming from relational usage of data you can be tempted to run the selection directly. If you try the following code it will not work: Pandas is matching the index (0,1,2, ) with yoru search value "Pocahontas".

Notice that the <code>loc</code> operation accesses a group of rows and columns by a label (that by default is associated with the index).

In [ ]:
#Details of the movie 'Pocahontas'
result = df.loc['Pocahontas'] #Gives an error
print("Details of the movie 'Pocahontas:")
print(result)

In order to make the operation run you must create an index on your query/columns:

In [42]:
#Create the index to the title
df = df.set_index('title')

You can now see that the index previously present disapeared and now the title column is treated as the index:

In [43]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.7,5415
Jumanji,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413
Grumpier Old Men,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,False,6.5,92
Waiting to Exhale,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,False,6.1,34
Father of the Bride Part II,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,False,5.7,173

And after run the selection:

In [44]:
#Details of the movie 'Pocahontas'
result = df.loc[['Pocahontas']]
print("Details of the movie 'Pocahontas:")
print(result)

Details of the movie 'Pocahontas:
            adult                              belongs_to_collection  \
title
Pocahontas  False  {'id': 136214, 'name': 'Pocahontas Collection'...

              budget                                             genres  \
title
Pocahontas  55000000  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...

           homepage     id    imdb_id original_language original_title  \
title
Pocahontas      NaN  10530  tt0114148                en     Pocahontas

                                                     overview  ...  \
title                                                          ...
Pocahontas  History comes gloriously to life in Disney's e...  ...

                                         production_countries release_date  \
title
Pocahontas  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-06-14

              revenue runtime                          spoken_languages  \
title
Pocahontas  346079773    81.0  [{'iso_639_1': 'en', 'name': 'English'}]

              status                            tagline  video vote_average  \
title
Pocahontas  Released  An American legend comes to life.  False          6.7

           vote_count
title
Pocahontas       1509

[1 rows x 23 columns]

You can also remove your indexes:

In [45]:
df.reset_index(inplace=True)

Notice that, if you did not notice this before, each operation on the dataframe returns a new dataframe.
If you want to modify directly the reference of your variable and avoiding to write <code>df = df.( ... )</code> you must specify the option <code>inplace=True</code>.

In the operation creating a new dataframe deleting the index and is going to re-initialize the <code>df</code> variable with the result.

In practice this operation is equivalent to:

In [ ]:
df = df.reset_index()

You can see that we have back our index-by-position.

In [46]:
df.head()

,title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
0,Toy Story,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.7,5415
1,Jumanji,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413
2,Grumpier Old Men,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,False,6.5,92
3,Waiting to Exhale,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,False,6.1,34
4,Father of the Bride Part II,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,False,5.7,173

We could alse have run the same operation creating a new df selecting the rows that have the column value equal to 'Pochaontas' and returning the result:

In [47]:
result = df[df['title']=='Pocahontas']

print(result)

         title  adult                              belongs_to_collection  \
47  Pocahontas  False  {'id': 136214, 'name': 'Pocahontas Collection'...

      budget                                             genres homepage  \
47  55000000  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...      NaN

       id    imdb_id original_language original_title  ...  \
47  10530  tt0114148                en     Pocahontas  ...

                                 production_countries  release_date  \
47  [{'iso_3166_1': 'US', 'name': 'United States o...    1995-06-14

      revenue runtime                          spoken_languages    status  \
47  346079773    81.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

                              tagline  video vote_average vote_count
47  An American legend comes to life.  False          6.7       1509

[1 rows x 24 columns]

Remark that this way of chaining operations give an equal output but conceptually is different: we are creating a new dataframe.

## 1 Pandas exercises

Referring to the [Pandas dataframes documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) implement the following exercises.

### 1.1 Create a smaller dataframe

Create a smaller dataframe having as columns <code> title, release_date, runtime</code> and sort by <code>release_date</code>

In [48]:
# Create a smaller dataframe with just 

'''############## WRITE YOUR CODE HERE ##############'''
small_df = df[['title', 'release_date', 'runtime']]
sorted_result = small_df.sort_values(by=['release_date'])

'''############## END OF THE EXERCISE ##############'''

print("DataFrame based on release date.")
print(sorted_result)

DataFrame based on release date.
                             title release_date  runtime
4      Father of the Bride Part II   1995-02-10    106.0
29                  Shanghai Triad   1995-04-30    108.0
48           When Night Is Falling   1995-05-05     96.0
28       The City of Lost Children   1995-05-16    108.0
44                      To Die For   1995-05-20    106.0
47                      Pocahontas   1995-06-14     81.0
33                            Babe   1995-07-18     89.0
38                        Clueless   1995-07-19     97.0
49              The Usual Suspects   1995-07-19    106.0
30                 Dangerous Minds   1995-08-11     99.0
43                   Mortal Kombat   1995-08-18    101.0
46                           Se7en   1995-09-22    127.0
27                      Persuasion   1995-09-27    104.0
45   How To Make An American Quilt   1995-10-06    116.0
22                       Assassins   1995-10-06    132.0
41                 Dead Presidents   1995-10-06    119.0
36          Across the Sea of Time   1995-10-20     51.0
26                    Now and Then   1995-10-20    100.0
20                      Get Shorty   1995-10-20    105.0
21                         Copycat   1995-10-27    124.0
23                          Powder   1995-10-27    111.0
24               Leaving Las Vegas   1995-10-27    112.0
0                        Toy Story   1995-10-30     81.0
34                      Carrington   1995-11-08    121.0
18  Ace Ventura: When Nature Calls   1995-11-10     90.0
9                        GoldenEye   1995-11-16    130.0
37                    It Takes Two   1995-11-17    101.0
10          The American President   1995-11-17    106.0
19                     Money Train   1995-11-21    103.0
15                          Casino   1995-11-22    178.0
17                      Four Rooms   1995-12-09     98.0
16           Sense and Sensibility   1995-12-13    136.0
1                          Jumanji   1995-12-15    104.0
5                             Heat   1995-12-15    170.0
6                          Sabrina   1995-12-15    127.0
39        Cry, the Beloved Country   1995-12-15    106.0
25                         Othello   1995-12-15    123.0
8                     Sudden Death   1995-12-22    106.0
11     Dracula: Dead and Loving It   1995-12-22     88.0
7                     Tom and Huck   1995-12-22     97.0
12                           Balto   1995-12-22     78.0
13                           Nixon   1995-12-22    192.0
3                Waiting to Exhale   1995-12-22    127.0
2                 Grumpier Old Men   1995-12-22    101.0
14                Cutthroat Island   1995-12-22    119.0
31                  Twelve Monkeys   1995-12-29    129.0
40                     Richard III   1995-12-29    104.0
42                     Restoration   1995-12-29    117.0
35                Dead Man Walking   1995-12-29    122.0
32                Wings of Courage   1996-09-18     50.0

### 1.2 Check how many lines the small dataframe has:

In [49]:
'''############## WRITE YOUR CODE HERE ##############'''

small_df.info()

'''############## END OF THE EXERCISE ##############'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         50 non-null     object
 1   release_date  50 non-null     object
 2   runtime       50 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

'############## END OF THE EXERCISE ##############'

### 1.3 Check the number of lines and columns:

In [50]:
'''############## WRITE YOUR CODE HERE ##############'''

nb_rows, nb_cols = df.shape
print("There is:", nb_rows, "rows and", nb_cols, "cols;")

'''############## END OF THE EXERCISE ##############'''

There is: 50 rows and 24 cols;

'############## END OF THE EXERCISE ##############'

###1.4 Sort the movies by **runtime**

In [51]:

'''############## WRITE YOUR CODE HERE ##############'''

result = small_df.sort_values(by=['runtime'], ascending=False)


'''############## END OF THE EXERCISE ##############'''

result.head()

                    title release_date  runtime
13                  Nixon   1995-12-22    192.0
15                 Casino   1995-11-22    178.0
5                    Heat   1995-12-15    170.0
16  Sense and Sensibility   1995-12-13    136.0
22              Assassins   1995-10-06    132.0

###1.5 Give the film with the shortest runtime

In [52]:

'''############## WRITE YOUR CODE HERE ##############'''

result_min = result.iloc[-1]

'''############## END OF THE EXERCISE ##############'''


print(result_min)

title           Wings of Courage
release_date          1996-09-18
runtime                     50.0
Name: 32, dtype: object

### 1.6 Print the movies with runtime equal to 132

In [53]:


'''############## WRITE YOUR CODE HERE ##############'''

result = small_df[small_df['runtime'] == 132]

'''############## END OF THE EXERCISE ##############'''

print(result)

        title release_date  runtime
22  Assassins   1995-10-06    132.0

# Spark dataframe

A DataFrame in Spark is a programming abstraction in the Spark SQL module. DataFrames resemble relational database tables: the data resides in rows and columns of different datatypes.

The information for distributed data is structured into schemas. Every column in a DataFrame contains the column name, datatype, and nullable properties. When nullable is set to true, a column accepts null properties as well.

The DataFrame API is a part of the Spark SQL module. The API provides an easy way to work with data within the Spark SQL.

AS you will see the Spark DataFrame code looks familiar to the one used for Pandas dataframes. 

But since Spark uses RDDs offers processing optimization opportunities.

In [54]:
#import of the SparkSession
from pyspark.sql import SparkSession

#inizialization of the Spark Session
spark = SparkSession \
    .builder \
    .appName("intro_dataframe") \
    .getOrCreate()

print("initialization successful")

25/07/25 16:37:44 WARN Utils: Your hostname, MacBook-Pro-de-Alex.local resolves to a loopback address: 127.0.0.1; using 10.0.0.25 instead (on interface en0)
25/07/25 16:37:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/25 16:37:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

initialization successful

You can create your dataframe on the fly from data structures in the code (for example if you have to run some essays).

In [55]:
data = [{"Category": 'Crime', "ID": 1, "Truth": True},
        {"Category": 'Romance', "ID": 2, "Truth": False},
        {"Category": 'Triller', "ID": 3, "Truth": None},
        {"Category": 'Documentary', "ID": 4, "Truth": True}
        ]

And read with the help of the <code>pyspark.sql.Row</code> structure:
<ul>
<li> parse the dictionary item</li>
<li> use <code>**</code> to unpack keywords in each dictionary. </li>
</ul>

In [56]:
from pyspark.sql import Row

#Create a DataFrame from the data list
movie_categories = spark.createDataFrame([Row(**i) for i in data])

We can also read data from csv files, here we read the same movie small dataframe that is provided as sample.

In [58]:
dfspark = spark.read.option("header", "true").csv("./data/movies_metadata.csv")

It is possible to print the schema

In [59]:
dfspark.printSchema()

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)

And the table to view the created Spark DataFrame:

In [60]:
dfspark.show()

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                NULL|           Toy Story|   False|                 7.7|             5415|
|False|                 NULL|65000000|[{'id': 12, 'name...|                NULL| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                NULL|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|
|False|                 NULL|16000000|[{'id': 35, 'name...|                NULL|31357|tt0114885|               en|   Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                NULL|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|          1995-02-10|            76578911|               106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|   False|                 5.7|              173|
|False|                 NULL|60000000|[{'id': 28, 'name...|                NULL|  949|tt0113277|               en|                Heat|Obsessive master ...| 17.924927|/zMyfPUelumio3tiD...|[{'name': 'Regenc...|[{'iso_3166_1': '...|          1995-12-15|           187436818|               170.0|[{'iso_639_1': 'e...|Released|A Los Angeles Cri...|                Heat|   False|                 7.7|             1886|
|False|                 NULL|58000000|[{'id': 35, 'name...|                NULL|11860|tt0114319|               en|             Sabrina|An ugly duckling ...|  6.677277|/jQh15y5YB7bWz1Nt...|[{'name': 'Paramo...|[{'iso_3166_1': '...|          1995-12-15|                   0|               127.0|[{'iso_639_1': 'f...|Released|You are cordially...|             Sabrina|   False|                 6.2|              141|
|False|                 NULL|       0|[{'id': 28, 'name...|                NULL|45325|tt0112302|               en|        Tom and Huck|A mischievous you...|  2.561161|/sGO5Qa55p7wTu7FJ...|[{'name': 'Walt D...|[{'iso_3166_1': '...|          1995-12-22|                   0|                97.0|[{'iso_639_1': 'e...|Released|The Original Bad ...|        Tom and Huck|   False|                 5.4|               45|
|False|                 NULL|35000000|[{'id': 28, 'name...|                NULL| 9091|tt0114576|               en|        Sudden Death|International act...|   5.23158|/eoWvKD60lT95Ss1M...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-12-22|            64350171|               106.0|[{'iso_639_1': 'e...|Released|Terror goes into ...|        Sudden Death|   False|                 5.5|              174|
|False| {'id': 645, 'name...|58000000|[{'id': 12, 'name...|http://www.mgm.co...|  710|tt0113189|               en|           GoldenEye|James Bond must u...| 14.686036|/5c0ovjT41KnYIHYu...|[{'name': 'United...|[{'iso_3166_1': '...|          1995-11-16|           352194034|               130.0|[{'iso_639_1': 'e...|Released|No limits. No fea...|           GoldenEye|   False|                 6.6|             1194|
|False|                 NULL|62000000|[{'id': 35, 'name...|                NULL| 9087|tt0112346|               en|The American Pres...|Widowed U.S. pres...|  6.318445|/lymPNGLZgPHuqM29...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-11-17|           107879496|               106.0|[{'iso_639_1': 'e...|Released|Why can't the mos...|The American Pres...|   False|                 6.5|              199|
|False|                 NULL|       0|[{'id': 35, 'name...|                NULL|12110|tt0112896|               en|Dracula: Dead and...|When a lawyer sho...|  5.430331|/xve4cgfYItnOhtzL...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-12-22|                   0|                88.0|[{'iso_639_1': 'e...|Released|                NULL|Dracula: Dead and...|   False|                 5.7|              210|
|False| {'id': 117693, 'n...|       0|[{'id': 10751, 'n...|                NULL|21032|tt0112453|               en|               Balto|An outcast half-w...| 12.140733|/gV5PCAVCPNxlOLFM...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-12-22|            11348324|                78.0|[{'iso_639_1': 'e...|Released|Part Dog. Part Wo...|               Balto|   False|                 7.1|              423|
|False|                 NULL|44000000|[{'id': 36, 'name...|                NULL|10858|tt0113987|               en|               Nixon|An all-star cast ...|     5.092|/cICkmCEiXRhvZmbu...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|          1995-12-22|            13681765|               192.0|[{'iso_639_1': 'e...|Released|Triumphant in Vic...|               Nixon|   False|                 7.1|               72|
|False|                 NULL|98000000|[{'id': 28, 'name...|                NULL| 1408|tt0112760|               en|    Cutthroat Island|Morgan Adams and ...|  7.284477|/odM9973kIv9hcjfH...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|          1995-12-22|            10017322|               119.0|[{'iso_639_1': 'e...|Released|The Course Has Be...|    Cutthroat Island|   False|                 5.7|              137|
|False|                 NULL|52000000|[{'id': 18, 'name...|                NULL|  524|tt0112641|               en|              Casino|The life of the g...| 10.137389|/xo517ibXBDdYQY81...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-11-22|           116112375|               178.0|[{'iso_639_1': 'e...|Released|No one stays at t...|              Casino|   False|                 7.8|             1343|
|False|                 NULL|16500000|[{'id': 18, 'name...|                NULL| 4584|tt0114388|               en|Sense and Sensibi...|Rich Mr. Dashwood...| 10.673167|/lA9HTy84Bb6ZwNey...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-12-13|           135000000|               136.0|[{'iso_639_1': 'e...|Released|Lose your heart a...|Sense and Sensibi...|   False|                 7.2|              364|
|False|                 NULL| 4000000|[{'id': 80, 'name...|                NULL|    5|tt0113101|               en|          Four Rooms|It's Ted the Bell...|  9.026586|/eQs5hh9rxrk1m4xH...|[{'name': 'Mirama...|[{'iso_3166_1': '...|          1995-12-09|             4300000|                98.0|[{'iso_639_1': 'e...|Released|Twelve outrageous...|          Four Rooms|   False|                 6.5|              539|
|False| {'id': 3167, 'nam...|30000000|[{'id': 80, 'name...|                NULL| 9273|tt0112281|               en|Ace Ventura: When...|Summoned from an ...|  8.205448|/wRlGnJhEzcxBjvWt...|[{'name': 'O Ente...|[{'iso_3166_1': '...|          1995-11-10|           212385533|                90.0|[{'iso_639_1': 'e...|Released|New animals. New ...|Ace Ventura: When...|   False|                 6.1|             1128|
|False|                 NULL|60000000|[{'id': 28, 'name...|                NULL|11517|tt0113845|               en|         Money Train|A vengeful New Yo...|  7.337906|/jSozzzVOR2kfXgTU...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-11-21|            35431113|               103.0|[{'iso_639_1': 'e...|Released|Get on, or GET OU...|         Money Train|   False|                 5.4|              224|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
only showing top 20 rows

Using spark operation we can analyze the dataframe. For example we can filter the movies that have a runtime equal to 136:

In [61]:
dfspark.filter(dfspark.runtime == 136).show()

+-----+---------------------+--------+--------------------+--------+----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|adult|belongs_to_collection|  budget|              genres|homepage|  id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|  revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|
+-----+---------------------+--------+--------------------+--------+----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|False|                 NULL|16500000|[{'id': 18, 'name...|    NULL|4584|tt0114388|               en|Sense and Sensibi...|Rich Mr. Dashwood...| 10.673167|/lA9HTy84Bb6ZwNey...|[{'name': 'Columb...|[{'iso_3166_1': '...|  1995-12-13|135000000|  136.0|[{'iso_639_1': 'e...|Released|Lose your heart a...|Sense and Sensibi...|False|         7.2|       364|
+-----+---------------------+--------+--------------------+--------+----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+

You can select some columns of the dataframe, in this example the title

In [62]:
dfSparksmall = dfspark.select("title").show()

+--------------------+
|               title|
+--------------------+
|           Toy Story|
|             Jumanji|
|    Grumpier Old Men|
|[{'iso_639_1': 'e...|
|Father of the Bri...|
|                Heat|
|             Sabrina|
|        Tom and Huck|
|        Sudden Death|
|           GoldenEye|
|The American Pres...|
|Dracula: Dead and...|
|               Balto|
|               Nixon|
|    Cutthroat Island|
|              Casino|
|Sense and Sensibi...|
|          Four Rooms|
|Ace Ventura: When...|
|         Money Train|
+--------------------+
only showing top 20 rows

You can group by the value of a column and count the results:

In [63]:
dfspark.groupBy("runtime").count().show()

+--------------------+-----+
|             runtime|count|
+--------------------+-----+
|               116.0|    1|
|               127.0|    1|
|                50.0|    1|
|               170.0|    1|
|                90.0|    1|
|               132.0|    1|
|[{'iso_3166_1': '...|    3|
|               108.0|    1|
|                78.0|    1|
|                51.0|    1|
|               104.0|    3|
|               106.0|    6|
|               111.0|    1|
|               121.0|    1|
|               101.0|    3|
|               100.0|    1|
|                81.0|    2|
|               112.0|    1|
|                99.0|    1|
|               192.0|    1|
+--------------------+-----+
only showing top 20 rows

## 2. Spark Dataframes exercises

Referring to [Spark dataframe documentation](https://spark.apache.org/docs/latest/sql-getting-started.html)

##2.1 Find the movies having title equal to 'Pochaontas'

In [64]:

'''############## WRITE YOUR CODE HERE ##############'''

dfspark.filter(dfspark.title == 'Pocahontas').show()

'''############## END OF THE EXERCISE ##############'''

+-----+---------------------+--------+--------------------+--------+-----+---------+-----------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+----------+-----+------------+----------+
|adult|belongs_to_collection|  budget|              genres|homepage|   id|  imdb_id|original_language|original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|  revenue|runtime|    spoken_languages|  status|             tagline|     title|video|vote_average|vote_count|
+-----+---------------------+--------+--------------------+--------+-----+---------+-----------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+----------+-----+------------+----------+
|False| {'id': 136214, 'n...|55000000|[{'id': 12, 'name...|    NULL|10530|tt0114148|               en|    Pocahontas|History comes glo...| 13.280069|/qk95miOV8wDABbO5...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  1995-06-14|346079773|   81.0|[{'iso_639_1': 'e...|Released|An American legen...|Pocahontas|False|         6.7|      1509|
+-----+---------------------+--------+--------------------+--------+-----+---------+-----------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+----------+-----+------------+----------+

'############## END OF THE EXERCISE ##############'

## 2.2 Create a Spark dataframe with only the columns <code> title	release_date	runtime </code>

In [65]:
'''############## WRITE YOUR CODE HERE ##############'''

dfsparksmall = dfspark.select('title', 'release_date', 'runtime')

'''############## END OF THE EXERCISE ##############'''
dfsparksmall.show()

+--------------------+--------------------+--------------------+
|               title|        release_date|             runtime|
+--------------------+--------------------+--------------------+
|           Toy Story|          1995-10-30|                81.0|
|             Jumanji|          1995-12-15|               104.0|
|    Grumpier Old Men|          1995-12-22|               101.0|
|[{'iso_639_1': 'e...|/16XOMpEaLWkrcPqS...|[{'iso_3166_1': '...|
|Father of the Bri...|          1995-02-10|               106.0|
|                Heat|          1995-12-15|               170.0|
|             Sabrina|          1995-12-15|               127.0|
|        Tom and Huck|          1995-12-22|                97.0|
|        Sudden Death|          1995-12-22|               106.0|
|           GoldenEye|          1995-11-16|               130.0|
|The American Pres...|          1995-11-17|               106.0|
|Dracula: Dead and...|          1995-12-22|                88.0|
|               Balto|          1995-12-22|                78.0|
|               Nixon|          1995-12-22|               192.0|
|    Cutthroat Island|          1995-12-22|               119.0|
|              Casino|          1995-11-22|               178.0|
|Sense and Sensibi...|          1995-12-13|               136.0|
|          Four Rooms|          1995-12-09|                98.0|
|Ace Ventura: When...|          1995-11-10|                90.0|
|         Money Train|          1995-11-21|               103.0|
+--------------------+--------------------+--------------------+
only showing top 20 rows